<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="shortcut icon" href="/darklogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/401.css">
</head>
<body>
    <main>
        <h1>Access Denied Login First!!</h1>
        <a href="/login">Go to Login page</a>
    </main>
</body>
</html>