<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunt</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/404.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">  
</head>
<body>
    <main>
        <div class="container">
            <h1>Oops!!!</h1>
            <p>We can’t seem to find the page you’re looking for.</p>
            <a href="/">Go to Homepage</a>
        </div>

    </main>
</body>