<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunt</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/500.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">  
</head>
<body>
    <main>
        <div class="container">
            <h1>Server Error</h1>
            <p>Something went wrong on our end. Please try again later.</p>
            <div class="button-group">
                <a href="/">Go Back Home</a>
                <a href="/contact">Contact Support</a>
            </div>  
        </div>

    </main>
</body>