<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunt</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
    
</head>
<body>
<%- include('partials/header.ejs') %>
<main>
    <section class="container" >
     <div class="aboutus">
        <h1>About Us</h1>
        <p><b>HouseHunt</b> is a user-friendly platform that helps potential homebuyers and renters find their ideal property by filtering listings based on budget, location, and other preferences. Our goal is to simplify the house-hunting process, offering a tailored search experience that connects users to their dream homes faster.</p>
       
     </div>

     <div class="mission">
        <h1>Mission</h1>
        <p>With <b>HouseHunt</b>,users can:</p>
        <ul>
            <li>Access a wide range of listings from verified agents.</li>
            <li>Use advanced search filters to narrow down properties by price, neighborhood, amenities, and more.</li>
            <li>Discover popular listings and get personalized recommendations based on their preferences</li>
            <li>Get connected to reliable agents for a seamless transaction process.</li>
        </ul>
     </div>

     
        <div id="how-it-works" class="how-it-works-section">
              <h1>How It Works</h1>
              <p>At <strong>HouseHunt</strong>, finding your perfect home is simple and stress-free. <br> Follow these easy steps to get started:</p>
              
              <div class="steps">
                
                <div class="step">
                  <h3>Set Your Preferences</h3>
                  <p>Select your budget, preferred location, and must-have amenities to help us curate listings tailored to your needs.</p>
                </div>
                
                <div class="step">
                  <h3>Browse Listings</h3>
                  <p>Explore a wide range of properties from verified agents. Use advanced filters to narrow down options by price, type, and more.</p>
                </div>
                
                <div class="step">
                  <h3>Discover Popular Picks</h3>
                  <p>Check out the "Popular Listings" section for the hottest properties that match your criteria and receive personalized recommendations.</p>
                </div>
                
                <div class="step">
                  <h3>Connect with Agents</h3>
                  <p>Contact trusted agents directly to get more information, schedule viewings, or ask any questions about the property.</p>
                </div>
                
                <div class="step">
                  <h3>Seamless Transactions</h3>
                  <p>Whether you're buying or renting, our partnered agents are here to assist you every step of the way for a smooth process.</p>
                </div>

              </div><!-- class steps -->
            </div><!-- class how it works section -->


            <div class="testimonials">
              <h1>Customer Reviews</h1>
              <p>Don't just take our word for it! Here's what some of our satisfied users  have to say:</p>
            <div class="testimonials_container">
               <div class="one">
                <img src="/images/happy1.webp" alt="">
                <span>David K.-Kapsoya</span>
                <span>"As a first-time buyer, I found HouseHunt extremely user-friendly. I loved the detailed listings and the smooth booking process. It saved me so much time!"</span>
               </div>

               <div class="one">
                <img src="/images/happy5.jpg" alt="">
                <span>Grace  M.-Pioneer</span>
                <span>"I appreciate how HouseHunt allows me to customize my search based on my needs. It's hands down the best real estate website I’ve used!"</span>
               </div>

               <div class="one">
                <img src="/images/happy3.jfif" alt="">
                <span>Kevin O.-Runda</span>
                <span>"Finding a home in my desired location was seamless with HouseHunt. The agents were responsive, and I felt supported throughout the entire process."</span>
               </div>
            </div>

            </div>
    </section> 
</main>
<%- include('partials/footer.ejs') %>
</body>
</html>