body {
    background-color: #f8f4e1;
    color: #543310;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
  }

  h1 {
    font-size: 3em;
    color: #543310;
  }

  p {
    font-size: 1.2em;
    margin: 20px 0;
  }

  a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #74512d;
    color: #f8f4e1;
    border-radius: 5px;
    font-size: 1em;
  }

  a:hover {
    background-color: #543310;
  }